/* ==========> FONTS <========== */
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,&display=swap);

@font-face {
    font-family: CalSans;
    font-display: swap;
    src: url("../fonts/cal-sans/fonts/webfonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/cal-sans/fonts/webfonts/CalSans-SemiBold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* ==========> VARIABLES <========== */
$FontColor-default: #666666;
$Color-orange: #FF6428;

/* ==========> GLOBAL ATTRIBUTES <========== */
html, body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: Poppins;
    font-weight: 400;
    color: $FontColor-default;
    font-size: 16px;

    &.lock {
        overflow: hidden;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $FontColor-default;
}

.page {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"]{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style: none;
}

main {
    flex: 1 1 auto;
}

/* ==========> HEADER <========== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 130px;
    align-items: center;
    min-height: 143px;
}
.header__logo {}

.header__burger {}
.burger {
    display: none;
    position: relative;
    width: 30px;
    height: 19px;

    span {
        position: absolute;
        top: 8px;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background-color: #8f8f8f;
        transition: 0.3s;
    }
    &::before, &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #8f8f8f;
        border-radius: 5px;
        right: 0;
        z-index: 1;
        transition: 0.3s;
    }
    &::before {
        top: 0;
        transition: 0.3s;
    }
    &::after {
        bottom: 0;
        transition: 0.3s;
    }

    &.active span {
        transform: scaleX(0);
        transition: 0.3s;
    }
    &.active::before {
        transform: rotate(-45deg);
        top: 8px;
        transition: 0.3s;
    }
    &.active::after {
        transform: rotate(45deg);
        bottom: 8px;
        transition: 0.3s;
    }
}

.header__navigation {}
.navigation {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
.navigation__menu {
    display: flex;
    padding: 0 1px;
    gap: 56px;
}
.navigation__item {}
.navigation__link {
    color: #12121260;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1092px) {
    .header__container {
        gap: 60px;
        min-height: 100px;
    }
    .navigation__menu {
        gap: 20px;
    }
}
@media (max-width: 827px) {
    .header__container {
        justify-content: center;
    }
}
@media (max-width: 451px) {
    .header {
        position: relative;
        background-color: #fff;
    }
    .header__container {
        justify-content: space-between;
        gap: 0;
        min-height: 60px;
    }
    .burger {
        display: block;
    }
    .navigation {
        position: absolute;
        top: 60px;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: #fff;
        border-radius: 0;
        padding: 10px 0 10px 10px;
        transition: all 0.3s ease 0s;
        
        &.active {
            right: 0;
            transition: all 0.3s ease 0s;
        }
    }
    .navigation__menu {
        display: flex;
        flex-direction: column;
        overflow: auto;

    }
    .navigation__link {
        display: block;
    }
}

/* ==========> INTRO <========== */
.main__intro {
    padding-bottom: 80px;
}
.intro {}
.intro__container {
    display: flex;
}
.intro__content {
    flex: 0 1 50%;
    align-self: flex-end;
    padding: 120px 20px 60px 0;
}
.intro__title {
    font-family: CalSans;
    font-size: 56px;
    line-height: 67.2px;
    color: #121212;

    span {
        color: $Color-orange;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}
.intro__text {
    font-weight: 500;
    line-height: 24px;
    color: $FontColor-default;
    max-width: 400px;

    &:not(:last-child) {
        margin-bottom: 33px;
    }
}

.intro__actions {
    display: flex;
    align-items: center;
}
.actions-intro {}
.actions-intro__button {
    padding: 18.5px 48px;
    font-weight: 600;
    line-height: 24px;
    background-color: $Color-orange;
    color: #fff;
    border-radius: 40px;
    transition: 0.3s;

    &:not(:last-child) {
        margin-right: 40px;
    }

    &:hover {
        background-color: #c44615;
        transition: 0.3s;
    }
}
.actions-intro__icon {
    display: flex;
    align-self: center;

    &:not(:last-child) {
        margin-right: 27px;
    }
}

.intro__image {
    flex: 0 1 50%;
}
.image-intro {}
.image-intro__photo {
    position: relative;
    margin-right: -135px;
    max-width: 672px;
    padding-bottom: 97.6%;;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 80px;
        height: 80px;
        right: 36.3%;
        transform: translateY(50%);
        background: url(../img/main-image-decor.png);
    }
}
.image-intro__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 0px 0px 151px 360px;
}

@media (max-width: 1092px) {
    .image-intro__photo img{
        width: 100%;
    }
    .intro__content {
        flex: 0 0 60%;
        padding-bottom: 0;
    }
    .intro__image {
        flex: 0 0 40%;
    }
}
@media (max-width: 827px) {
    .main__intro {
        padding-bottom: 40px;
    }
    .intro__content {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 0;
    }
    .intro__image {
        display: none;
    }
}
@media (max-width: 451px) {
    .main__intro {
        padding-bottom: 20px;
    }
    .intro__content {
        padding: 20px 0 0 0;
    }
    .intro__actions {
        flex-wrap: wrap;
        justify-content: center;
    }
    .actions-intro__button {
        width: 100%;
    }
    .actions-intro__button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* ==========> STORE <========== */
.main__store {
    padding-top: 80px;
    padding-bottom: 90px;
}
.store {}
.store__container {}
.store__title {}
.title-store {
    margin-bottom: 86px;
}
.title {
    font-family: "CalSans";
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: #121212;
    text-align: center;

    span {
        color: $Color-orange;
    }
}

.store__body {}
.body-store {}

.body-store__category {
    &:not(:last-child) {
        margin-bottom: 96px;
    }
}
.category-store-body {}

.category-store-body__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 15px;
}
.store-body-header {}
.store-body-header__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #121212;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.store-body-header__all {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #868686;
}

.category-store-body__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 54px;
    row-gap: 30px;
}
.store-body-items {}
.store-body-items__item {}
.store-item {
    display: grid;
}
.store-item__image {
    img {
        max-width: 100%;
    }

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}
.store-item__name {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #121212;
    justify-self: start;

    &:hover {
        text-decoration: underline;
    }

    &:not(:last-child) {
        margin-bottom: 7px;
    }
}
.store-item__price {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width: 980px) {
    .title-store {
        margin-bottom: 43px;
    }
    .category-store-body__items {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 827px) {
    .main__store {
        padding-top: 40px;
        padding-bottom: 45px;
    }
}
@media (max-width: 631px) {
    .title-store {
        margin-bottom: 21px;
    }
    .category-store-body__items {
        grid-template-columns: repeat(1, 1fr);
    }
    .store-body-items__item {
        text-align: center;
    }
    .store-item__name {
        justify-self: center;
    }
}
@media (max-width: 451px) {
    .main__store {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .body-store__category {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}

/* ==========> CATEGORIES <========== */
.main__categories {
    padding-top: 90px;
    padding-bottom: 110px;
}
.categories {}
.categories__container {
    max-width: 1118px;
}
.categories__title {}
.title-categories {
    margin-bottom: 80px;
}

.categories__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 69px;
    row-gap: 34px;
}
.body-categories {}

.body-categories__item {
    position: relative;
}
.categories-item {
    &:hover .categories-item__image img{
        transform: scale(1.1);
        transition: 0.3s;
    }
}
.categories-item__title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 3;
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    padding: 30px 0;
}
.categories-item__image {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding-bottom: 127%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        transition: 0.3s;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.8) 100%);
    }
}
@media (max-width: 980px) {
    .main__categories {
        padding-top: 45px;
        padding-bottom: 55px;
    }
    .title-categories {
        margin-bottom: 40px;
    }
    .categories__body {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 35px;
        row-gap: 20px;
    }
    .categories-item__image {
        border-radius: 35px;
    }
}
@media (max-width: 827px) {
    
}
@media (max-width: 631px) {
    .title-categories {
        margin-bottom: 20px;
    }
    .categories__body {
        grid-template-columns: repeat(1, 1fr);
    }
    .categories-item__image {
        border-radius: 45px;
    }
}
@media (max-width: 451px) {
    .main__categories {
        padding-top: 30px;
        padding-bottom: 27px;
    }
}

/* ==========> BRANDS <========== */

.main__brands {
    padding-top: 110px;
    padding-bottom: 180px;
}
.brands {}
.brands__container {
    max-width: 1020px;
}

.brands__title {
    margin-bottom: 75px;
}
.title-brands {}

.brands__body {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 80px;
    align-items: center;
}
.brands-item {
    img {
        width: 100%;
    }
}
@media (max-width: 980px) {
    .main__brands {
        padding-top: 55px;
        padding-bottom: 100px;
    }
    .brands__body {
        grid-template-columns: repeat(3, auto);
        row-gap: 50px;
    }
}
@media (max-width: 827px) {
    .brands__title {
        margin-bottom: 40px;
    }
}
@media (max-width: 631px) {
    .brands__title {
        margin-bottom: 30px;
    }
}
@media (max-width: 451px) {
    .main__brands {
        padding-top: 27px;
        padding-bottom: 50px;
    } 
    .brands__body {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        column-gap: 50px;
        row-gap: 30px;
    }
}

/* ==========> FEATURES <========== */
.main__features {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #121212;
}
.features {}
.features__container {}

.features__title {
    color: #fff;
    margin-bottom: 75px;
}
.title-features {}
.title {}

.features__body {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 50px;
}
.features__item {
    text-align: center;
}
.item-features {
    display: grid;
    justify-items: center;
}
.item-features__icon {
    display: flex;
    width: 72px;
    height: 72px;
    background-color: #262626;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.item-features__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fff;
}
.item-features__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 220px;
    text-transform: capitalize;
}
@media (max-width: 980px) {
    .main__features {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width: 827px) {
    .features__body {
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 581px) {
    .features__title {
        margin-bottom: 35px;
    }
    .features__body {
        grid-template-columns: repeat(1, auto);
    }
}

/* ==========> REVIEWS <========== */
.main__reviews {
    padding-top: 240px;
    padding-bottom: 120px;
}
.reviews {}
.reviews__container {}
.reviews__title {
    margin-bottom: 100px;
}
.title-reviews {}
.title {}

.reviews__swiper {}
.swiper-reviews {}
.swiper {}
.swiper-reviews__wrapper {}
.swiper-wrapper {}
.swiper-reviews__slide {}
.slide-swiper-reviews {
    display: flex;
}
.swiper-slide {}
.slide-swiper-reviews__picture{
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slide-swiper-reviews__image {
    width: 326px;
    height: 341px;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    &::before {
        content: "";
        position: absolute;
        top: 56px;
        left: -65px;
        width: 285px;
        height: 258px;
        background-color: $Color-orange;
        border-radius: 40px 0 400px 400px;
        transform: rotate(-7.72deg);
    }
}
.slide-swiper-reviews__body {
    flex: 0 1 50%;
}
.slide-swiper-reviews__text {
    font-size: 24px;
    line-height: 1.6;
    &:not(:last-child){
        margin-bottom: 55px;
    }
}
.slide-swiper-reviews__author {}
.slide-swiper-reviews__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.6;
    color: #000;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}
.slide-swiper-reviews__profession {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #868686;
}
.swiper-reviews__pagination {}
.swiper-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.3s all;

    .swiper-pagination-bullet {
        width: 10px;
        height: 16px;
        background: #C4C4C4;
        border-radius: 20px;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        flex: 0 0 24px;
        height: 12px;
        background: $Color-orange;
        transition: 0.3s all;
    }
}
@media (max-width: 980px) {
    .main__reviews {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .reviews__title {
        margin-bottom: 50px;
    }
    .slide-swiper-reviews {
        flex-direction: column;
    }
    .slide-swiper-reviews__picture{
        margin-bottom: 30px;
    }
    .swiper-reviews__pagination.swiper-pagination {
        position: relative;
        justify-content: center;
        padding-top: 30px;
    }
}
@media (max-width: 581px) {
    .slide-swiper-reviews__image {
        width: 260px;
        height: 276px;

        &::before {
            width: 228px;
            height: 200px;
        }
    }
    .slide-swiper-reviews__text {
        font-size: 20px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 451px) {
    .main__reviews {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .reviews__title {
        margin-bottom: 30px;
    }
    .slide-swiper-reviews__image {
        width: 208px;
        height: 224px;

        &::before {
            width: 182px;
            height: 154px;
        }
    }
}

/* ==========> DOWNLOAD <========== */
.main__download {
    padding-top: 120px;
    padding-bottom: 120px;
}
.download {}
.download__container {
    display: flex;
    align-items: center;
}

.download__content {
    flex: 0 1 50%;
    padding-right: 20px;
}
.download__title {
    max-width: 460px;
    text-align: start;

    &:not(:last-child) {
        margin-bottom: 60px;
    }
}
.title-download {}
.title {}
.download__actions {
    display: flex;
    gap: 25px;
}
.actions-download {}
.actions-download__item {}

.download__images {
    flex: 0 1 50%;
}
@media (max-width: 980px) {
    .main__download {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .download__container {
        flex-direction: column-reverse;
    }
    .actions-download__item {
        img {
            width: 100%;
        }
    }
    .download__images {
        img {
            width: 100%;
        }
    }
}
@media (max-width: 581px) {
    .download__title {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 451px) {
    .main__download {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* ==========> FOOTER <========== */
.footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #EEEEEE;
}
.footer__container {
    max-width: 1120px;
}
.footer__content {
    display: flex;
    gap: 30px;
}
.content-footer {}

.content-footer__column {}
.footer__logo {
    display: inline-block;

    &:not(:last-child) {
        margin-bottom: 28px;
    }
}
.footer__contacts {}
.contacts-footer {}
.contacts-footer__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.contacts-footer__link {
    padding-left: 44px;
    line-height: 1.6;

    &:hover {
        text-decoration: underline;
    }
}
.contacts-footer__link_mail {
    background: url(../img/svg/sms.svg) left no-repeat;
}
.contacts-footer__link_geo {
    background: url(../img/svg/location.svg) left no-repeat;
}

.column-footer__full {
    flex: 1 1 auto;
}
.full-column-footer__body {
    display: flex;
    justify-content: center;
    gap: 125px;
}
.body-full-column__menu {}
.menu-full-column__title {
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.menu-full-column__list {}
.menu-full-column__item {
    line-height: 1.5;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}
.menu-full-column__link {
    &:hover {
        text-decoration: underline;
    }
}

.column-content-footer__title {
    color: #121212;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.colum-content-footer__social {}
.social-footer {
    display: flex;
    gap: 50px;
    align-items: center;
}
.social-footer__link {}

.footer__coopyright {
    padding-top: 80px;
    text-align: center;
    line-height: 1.6;
}
@media (max-width: 827px) {
    .footer {
        padding-top: 40px;
    }
    .footer__content {
        display: grid;
    }
    .content-footer__column {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo {
    }
    .last__column {
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .column-footer__full {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media (max-width: 451px) {
    .footer__content {
        display: flex;
        flex-direction: column;
    }
    .content-footer__column {
        flex: 0 0 100%;
        display: block;
        flex-direction: row;
        align-items: stretch;
    }
    .full-column-footer__body {
        justify-content: stretch;
        gap: 30px;
    }
    .footer__coopyright {
        padding-top: 30px;
    }
}







